[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"

[dev-packages]
pylint = "*"
pydojoml = "==0.3.1"
scikit-learn = "*"
jupyter = "*"
twine = "*"

[requires]
python_version = "3.7"
